html, body{
    margin: 0;
    background: #fff;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 21px;
}

.test:after {
  content: '\2807';
  font-size: 20px;
}


.test{
    position: relative !important;
}
.deleteContainer{
           position: absolute;
    top: 39px;
    display: none;
    background: #fff;
    right: 36px;
    background: #9a9a9a;
    border-radius: 4px;
    cursor: pointer;
}

.test:hover .deleteContainer{
    display: block;
}

.deleteContent{
    padding: 7px 20px;
    margin: 0;
}

.deleteContent{
    text-decoration: underline;
}

th{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    text-align: center;
}

tr:nth-child(even){background-color: #F2F3F5}

tbody tr:hover{
    background-color:  #EDF1FE;
    border-left: 6px solid #4978F6;
}

thead{
    background-color: #FBFBFB;
}

th,td{
    padding: 22px 9px;
    border-collapse: collapse;
    text-overflow: ellipsis;
}

tbody tr{
    border-bottom: 1px solid #eee;
}

td{
    text-align: center;
}

thead, tbody{
    padding: 10px;
}


.barsContainer{
        border-radius: 2px;
    border: solid 1px #c6cbd4;
    padding: 8px 17px;
    margin-left: 10px;
}

.barContent{
    margin: 0;
}


.headerContainer{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 2px solid #eee;
}

.header{
        font-family: 'Lato', sans-serif;
    font-size: 32px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
      margin: 0;
}

.blueBtnCon{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueBtn{
    color: #fff;
    font-family: 'Lato', sans-serif;
    border-radius: 24px;
    background: #4b74ff;
    padding: 9px 18px;
    border: none;
    cursor: pointer;
    font-size: 14px;

}

#statusContainer{
    display: block;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #c6cbd4;
    width: 100%;
  height: 32px;

}

.addUser{
    text-align: center;
    padding-bottom: 25px;
}

.inputContainer{
    // display: flex;
      // flex: 0 0 auto;
      // flex-flow: row wrap;
      // align-items: center;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
}

.inputContainer:first-child{
      margin-top: 3rem;

}

.containerInner{
    width: 90%;
    margin: auto;
    overflow-x: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

label{
    display: inline-block;
    margin-bottom: .5rem;
}

.inputField{
    width: 100%;
  height: 32px;
  display: block;
    border-radius: 2px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #c6cbd4;
  border: solid 1px var(--silver);
}


//Modal

.modal {
    position: relative;
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 38%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 20px;
    // font-weight: bold;
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all 0.3 ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}